<html>
<head>
<title>Fin</title>

<link rel="stylesheet" href="css/bootstrap-4.css" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/style.css" />

<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/flow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

<script src="js/contrib/xlsx.min.js"></script>
<script src="js/contrib/vue.js"></script>
<script src="js/contrib/highcharts.js"></script>

<script src="js/utils.js"></script>
<script src="js/script.js"></script>
<script src="js/charts.js"></script>
<script src="js/cash-flow-chart.js"></script>

</head>
<body>
<script>
function tabber(menuItem) {
  document.querySelectorAll('.tab-menu').forEach(item => {
    item.classList.remove('active')
  })
  document.querySelectorAll('.tab-content').forEach(item => {
    item.classList.remove('active')
  })

  menuItem.classList.add('active')
  document.getElementById(menuItem.dataset.tab).classList.add('active')
}

window.onload = async function () {
  const urlParams = new URLSearchParams(window.location.search);
  // const dataFolder = urlParams.get('dataFolder') || 'data'

  const statementsFilePath = urlParams.get('stmtFile') || '/data/statements.xlsx'
  // const rulesFilePath = urlParams.get('rulesFile') || '/data/rules.xlsx'

  console.time('fetch rules and statements')
  const [
    // rulesFile,
    statementsFile
  ] = await Promise.all([
    // fetchRules(rulesFilePath),
    fetchStatements(statementsFilePath)
  ])
  console.timeEnd('fetch rules and statements')
  // console.log({ rulesFile })
  // console.log({ statementsFile })
  console.log('--- FETCHED STATEMENTS ---')

  // const rules = processRules(rulesFile)

  // const { txns, accountsList, accountsTree, dates } = processStatements(statementsFile, rules)
  const { txns, accountsList, accountsTree, dates } = processStatements(statementsFile)
  console.log('txns', txns)
  console.log('dates', dates)
  console.log('accountsList', accountsList)
  console.log('accountsTree', accountsTree)
  console.log('--- PROCESSED STATEMENTS ---')



  // let summary = calculateSummary(txns, accountsList)
  // console.log({ summary })
  // // console.table(summary)
  // let monthSummary = getMonthlySummary(txns, accountsList)
  // monthSummary.reverse()
  // console.log({ monthSummary })
  // // console.table(monthSummary)
  // let yearSummary = getYearlySummary(txns, accountsList)
  // yearSummary.reverse()
  // console.log({ yearSummary })
  // // console.table(yearSummary)


  // function updateSummary(txns, acctsList) {
  //   this.summary = updateSummary(this.filteredTxns, this.accountsList)

  //   drawSummaryChart('graph-month-summary', monthSummary, accountsList)
  //   drawNetworthChart('graph-month-networth', monthSummary, accountsList)

  //   drawSummaryChart('graph-year-summary', yearSummary, accountsList)
  //   drawNetworthChart('graph-year-networth', yearSummary, accountsList)

  //   const levels = []
  //   const tree = {}
  //   for (let id in summary.accountsTree.ass) {
  //     const acct = summary.accountsTree.ass[id]
  //     const pathArr = acct.id.split('-')
  //     console.log(id, pathArr)
  //     // tree
  //   }

  //   return summary
  // }

  console.time('app mounted')

  app = new Vue({
    el: '#app',

    data() {
      return {
        allTxns: txns,
        txns,
        accountsList,
        accountsTree,
        dates,

        filters: {},
        // summary: null,
        summary: {},
        monthSummary: [],
        yearSummary: [],
      }
    },

    beforeCreate() {
    },
    created() {
      this.updateSummary()
    },
    beforeMount() {
    },
    beforeUpdated() {},
    updated() {},
    mounted(){
      console.timeEnd('app mounted')
      // this.updateSummary()
      // draw graphs after app is mounted
      this.drawSummaryGraphs()
    },

    computed: {
      filteredTxns() {
        const filt = { ...this.filters }

        if (filt.startDate) filt.startDate = new Date(filt.startDate)
        if (filt.endDate) filt.endDate = new Date(filt.endDate)
        if (filt.date) filt.date = new Date(filt.date)
        if (filt.desc) filt.desc = new RegExp(filt.desc, 'i')
        if (filt.minAmt) filt.minAmt = +filt.minAmt
        if (filt.maxAmt) filt.maxAmt = +filt.maxAmt
        // console.log({ filters: filt })

        // console.time('filterTxns')
        const txns = filterTxns(this.allTxns, filt)
        // console.timeEnd('filterTxns')
        // console.log('filteredTxns', txns)

        return txns
      },
    },
    methods: {
      fmtAmt(val) {
        return fmtAmt(val)
      },
      updateSummary() {
        console.log('--- UPDATING SUMMARY ---')
        console.time('--- UPDATED SUMMARY ---')
        this.summary = calculateSummary(this.filteredTxns, this.accountsList)
        console.log('summary', this.summary)

        this.monthSummary = getMonthlySummary(this.filteredTxns, this.accountsList)
        this.monthSummary.reverse()
        console.log('monthSummary', this.monthSummary)

        console.timeEnd('--- UPDATED SUMMARY ---')
      },
      drawSummaryGraphs() {
        console.log('drawing graphs...')

        // TODO: scatter plot of exp by day of year
        // TODO: waterfall chart for net worth by year
        drawSummaryChart('graph-month-summary', this.monthSummary, this.accountsList)
        drawNetworthChart('graph-month-networth', this.monthSummary, this.accountsList)
        drawCashFlow('graph-cash-flow', this.summary)
      },
      filterTxns() {
        this.updateSummary()
        this.drawSummaryGraphs()
      },
      acctTree(ev) {
        const acctRow = ev.target.parentNode
        const acctId = acctRow.getAttribute('data-acct-id')
        const acctType = acctId.split('-')[0]

        const table = acctRow.parentNode.parentNode
        const childAccts = [...table.querySelectorAll(`tr[data-parent-acct-id='${acctId}']`)]

        if (acctRow.classList.contains('expanded')) {
          // collapse row
          acctRow.classList.remove('expanded')

          // collapse all children and grandchildren
          for (let row of table.querySelectorAll('tr')) {
            const parentId = row.getAttribute('data-parent-acct-id')
            if (parentId && parentId.startsWith(acctId)) {
              row.classList.add('hidden')
              row.classList.remove('expanded')
            }
          }
        } else {
          // expand row
          acctRow.classList.add('expanded')

          // expand all children
          childAccts.forEach(ac => {
            ac.classList.remove('hidden')
          })
        }
      },
    },
  })
}
</script>


<div id="app" class="">
  <div id="main-tabs">
    <div class="tab-menu active" data-tab="main-summary" onclick="tabber(this)">Main</div>
    <div class="tab-menu" data-tab="year-summary" onclick="tabber(this)">Yearly</div>
  </div>

  <div id="main-content">
    <div id="main-summary" class="tab-content active">
      <div class="container-fluid">
        <!-- filters -->
        <div class="row">
          <div class="col-sm">
            <div id="main-filters">
              From:<input type="date" v-model="filters.startDate" v-on:blur="filterTxns" />
              To:<input type="date" v-model="filters.endDate" v-on:blur="filterTxns" />
              Accounts:
              <select v-model="filters.accounts" v-on:change="filterTxns" >
                <option>-</option>
                <option value="">all</option>
                <option v-for="acct in accountsTree.all" v-bind:value="acct.id">
                  {{ acct.id }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <!-- inc-exp-ass -->
        <!--
        <div class="row">
          <div class="col-sm">
            <div style="height: 30px; width: 100%; background: #00bb44; color: #000; text-align: center; font-weight: bold;">
              <span>{{ fmtAmt(summary.aggregate.inc.total) }}</span>
            </div>
            <div style="height: 30px; width: 100%; background: #eee; display: flex;">
              https://uxengineer.com/inline-block-elements-100-percent-width/
              <span
                style="background: #cc0000; height: 30px; flex-grow: 1; color: #000; text-align: center; font-weight: bold;"
                v-bind:style="{ width: (summary.aggregate.exp.perc)+'%' }">
                  {{ fmtAmt(summary.aggregate.exp.total) }} ({{ summary.aggregate.exp.perc }} %)
              </span>
              <span
                style="background: #0066ff; height: 30px; flex-grow: 1; color: #000; text-align: center; font-weight: bold;"
                v-bind:style="{ width: (summary.aggregate.ass.perc)+'%' }">
                  {{ fmtAmt(summary.aggregate.ass.total) }} ({{ summary.aggregate.ass.perc }} %)
              </span>
            </div>
          </div>
        </div>
        -->

        <div class="row">
          <div class="col-sm">
            <div id="graph-cash-flow" style="width: 100%; height: 500px;"></div>
          </div>
        </div>
  
        <div class="row">
          <!-- assests summary -->
          <div class="col-sm">
            <div id="graph-main-assets"></div>
            <table class="summary-table">
              <tr
              class="acct ass"
              v-bind:class="{ expanded: acct.id.split('-').length === 1, hidden: acct.id.split('-').length > 2 }"
              :data-acct-id="acct.id"
              :data-parent-acct-id="acct.parent"
              v-for="acct in summary.accountsTree.ass">
                <td class="acct" v-on:click="acctTree" v-bind:style="{ 'padding-left': ((acct.level+1)*15) + 'px', backgroundColor: 'rgba(127, 127, 127, '+((acct.level+1)/10)+')' }"><span>{{ acct.id.split('-').slice(-1)[0] }}</span></td>
                <td class="amt" v-bind:style="{ background: 'linear-gradient(to right, #0066ff '+(acct.perc)+'%, #cce0ff '+(acct.perc)+'% 100%)' }" :title="acct.perc + '%'"><span>{{ fmtAmt(acct.total) }}</span></td>
              </tr>
            </table>
          </div>
          <!-- income summary -->
          <div class="col-sm">
            <div id="graph-main-income"></div>
            <table class="summary-table">
              <tr
              class="acct inc"
              v-bind:class="{ expanded: acct.id.split('-').length === 1, hidden: acct.id.split('-').length > 2 }"
              :data-acct-id="acct.id"
              :data-parent-acct-id="acct.parent"
              v-for="acct in summary.accountsTree.inc">
                <td class="acct" v-on:click="acctTree" v-bind:style="{ 'padding-left': ((acct.level+1)*15) + 'px', backgroundColor: 'rgba(127, 127, 127, '+((acct.level+1)/10)+')' }"><span>{{ acct.id.split('-').slice(-1)[0] }}</span></td>
                <td class="amt" v-bind:style="{ background: 'linear-gradient(to right, #00bb44 '+(acct.perc)+'%, #bbffbb '+(acct.perc)+'% 100%)' }" :title="acct.perc + '%'"><span>{{ fmtAmt(-acct.total) }}</span></td>
              </tr>
            </table>
          </div>
          <!-- expense summary -->
          <div class="col-sm">
            <div id="graph-main-expense"></div>
            <table class="summary-table">
              <tr
              class="acct exp"
              v-bind:class="{ expanded: acct.id.split('-').length === 1, hidden: acct.id.split('-').length > 2 }"
              :data-acct-id="acct.id"
              :data-parent-acct-id="acct.parent"
              v-for="acct in summary.accountsTree.exp">
                <td class="acct" v-on:click="acctTree" v-bind:style="{ 'padding-left': ((acct.level+1)*15) + 'px', backgroundColor: 'rgba(127, 127, 127, '+((acct.level+1)/10)+')' }"><span>{{ acct.id.split('-').slice(-1)[0] }}</span></td>
                <td class="amt" v-bind:style="{ background: 'linear-gradient(to right, #cc0000 '+(acct.perc)+'%, #ffcccc '+(acct.perc)+'% 100%)' }" :title="acct.perc + '%'"><span>{{ fmtAmt(-acct.total) }}</span></td>
            </tr>
            </table>
          </div>
        </div>

        <!-- aggregates -->
        <div class="row">
          <div class="col-sm">
            <table id="summ-tbl" style="width: 400px;">
              <tr>
                <td>Transactions</td><td class="">{{ filteredTxns.length.toLocaleString() }}</td>
              </tr>
              <tr>
                <td>Credits</td><td class="amt">{{ fmtAmt(summary.aggregate.credits) }}</td>
              </tr>
              <tr>
                <td>Debits</td><td class="amt">{{ fmtAmt(summary.aggregate.debits) }}</td>
              </tr>
              <tr>
                <td>Balance</td><td class="amt">{{ fmtAmt(summary.aggregate.balance) }}</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <div id="graph-month-summary" class="chart" style="height: 500px; background: #eee;"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <div id="graph-month-networth" class="chart" style="height: 300px; background: #eee;"></div>
          </div>
        </div>

      </div>
    </div>

    <div id="year-summary" class="tab-content">
      <div id="graph-year-summary" class="chart" style="height: 500px;"></div>
      <div id="graph-year-networth" class="chart" style="height: 300px;"></div>
    </div>
  </div>

</div>

</body>
</html>